<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
    <ul>
        <li v-for='(cor, i) in cores' :key="cor" :teste='cor'>{{ cor }} - {{ i+1 }}</li>
    </ul>
    <button @click="cores.push('branco')">Adicionar</button>
    <ul>
        <li v-for='(pessoa, i) in pessoas' :teste='cor'>{{ pessoa.nome }} - {{ i+1 }}
            <div v-for='(valor, chave, index) in pessoa'>
                {{chave}} - {{valor}} ({{index + 1}})
            </div>
        </li>
    </ul>
    <hr>
    <span v-for="n in 10">{{ n }}</span>
</div>

<script>
    new Vue({
        el:'#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                {nome: 'Rafaela', idade: '54', peso: '46'},
                {nome: 'Jorge', idade: '34', peso: '58'},
                {nome: 'Thiago', idade: '24', peso: '78'},
            ]
        }
    })
</script>